# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\92_Workspace\08_Kafka\5_avro-to-pojo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
